<html>
<head>
    <script type="text/javascript" src="scripts/common-0.0.1.js"></script>
</head>
<style>
    body {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;   
    }
    #routePlusUser {
      background-color: white;
    }
    #allContainer {
      width: 35%;
      height: 100%;
      display: table-cell;
    }
    #selectedContainer {
      width: 35%;
      max-width: 500px;
      height: 100%;
      display: table-cell;
    }
    #nodeTbl, #nodeSelTbl {
        font-size: smaller;
        width: 100%;
    }
    #nodeTbl td, #nodeSelTbl td {
        padding-left: 5px;
        padding-right: 5px;
    }
    .nodeRow, .selRow {
        height: 36px;
        max-height: 40px;
        width: 100%;
    }
    .nIcon {
      width:16px;
      margin-top:1px;
      margin-left:2px;
      height:16px;
      display: inline-block;
      margin-right: 10px;
    }
    .j1 {
        background: url(../images/icons16.png) 0px 0px;
        height: 16px;
        width: 16px;
        border: none;
    }
    .j2 {
        background: url(../images/icons16.png) -16px 0px;
        height: 16px;
        width: 16px;
        border: none;
    }
    .j3 {
        background: url(../images/icons16.png) -32px 0px;
        height: 16px;
        width: 16px;
        border: none;
    }
    .j4 {
        background: url(../images/icons16.png) -48px 0px;
        height: 16px;
        width: 16px;
        border: none;
    }
    .j5 {
        background: url(../images/icons16.png) -64px 0px;
        height: 16px;
        width: 16px;
        border: none;
    }
    .j6 {
        background: url(../images/icons16.png) -80px 0px;
        height: 16px;
        width: 16px;
        border: none;
    }
    .j7 {
        background: url(../images/icons16.png) -96px 0px;
        height: 16px;
        width: 16px;
        border: none;
    }
    .ftype {
        font-size: small;
    }
    .protoSel {
        width: 100px;
    }
    .addMap, .removeMap, .setMine {
        cursor: pointer;
    }
    .header {
        font-weight: bold;
        display: block;
    }
    .iheader {
        font-weight: bold;
    }
    #myCompC {
        padding: 30px;
    }
    .otherInp, .sourcePortInp {
        width: 50px;
    }
    #sourcePortWarning {
        color: white;
        padding: 20px;
        border: 1px solid darkred;
        position: fixed;
        margin-top: -150px;
        text-align: center;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQYV2NoaGj4BQAFfwJ7kW1UpQAAAABJRU5ErkJggg==);
    }
    .red {
        color: red;
    }
</style>
<body onload="doOnLoad();">
<div id="sourcePortWarning" style="display:none;">
    Warning: <br />
    Setting a specific source port means that if that port is unavailable, the service will not be made available.<br />
    Leave this blank for a randomly assigned port.
</div>
<div id="routePlusUser">
    <div id="myCompC">
        <span class="iheader">My Computer:</span> 
        <span id="myComp"></span> 
        <!-- span id="magicPortC"><label><input type="checkbox" onchange="magicChange();"> Magic Port</label></span -->
    </div>
    <div id="allContainer">
        <span class="header">Node Selection</span>
        <table id="nodeTbl">
            <tr><th>Set as Mine</th><th>Node</th><th>Protocol</th><th>Dest IP</th><th>Dest Port</th><th>Source Port</th><th>Add</th></tr>
        </table>
    </div>
    <div id="selectedContainer">
      <span class="header">Active Mappings</span>
      <table id="nodeSelTbl">
          <tr><th>Node</th><th>Protocol</th><th>Dest IP</th><th>Dest Port</th><th>Source Port</th><th title="Checking this box displays this as an RDP download link on the device home screen">RDP Link?</th><th>Remove</th></tr>
      </table>
    </div>
</div>
</body>
<script type="text/javascript">
var mappings = {{{mappings}}};
var myComputer = {{{myComputer}}};
var protoMap = {
    80: 'HTTP',
    443: 'HTTPS',
    3389: 'RDP',
    22: 'SSH'
}
var protoOpts = '<option value=""> - Protocol</option>';
for (const [p, v] of Object.entries(protoMap)) {
    protoOpts += '<option value="' + p + '">' + v + '</option>';
}
protoOpts += '<option value="other">Other</option>';
var nodeMap = {};

function doOnLoad() {
    parent.nodes.forEach(function(n) {
        nodeMap[n._id] = n;
    });
    updateNodesTable();
    updateSelTable();
    updateMyComputer();
}
parent.pluginHandler.routeplus.myComputerUpdate = function(state, msg) {
    loadMyComputer(msg);
}
function loadMyComputer(msg) {
    myComputer = msg.data;
    updateMyComputer();
}
function updateMyComputer() {
    var holder = Q('myComp');
    var s = '';
    if (myComputer != null) {
        s = `<div class="nIcon j${nodeMap[myComputer.node].icon}"></div>${nodeMap[myComputer.node].name}`;
    } else {
        s = '<span>None selected.</span>';
    }
    holder.innerHTML = s;
}
function setMyComputer(el) {
    var row = el.parentNode.parentNode, 
        port = row.querySelectorAll('.otherInp')[0], 
        proto = row.querySelectorAll('.protoSel')[0],
        nodeId = row.getAttribute('x-data-id');
    parent.meshserver.send({
        'action': 'plugin',
        'plugin': 'routeplus',
        'pluginaction': 'setMyComputer',
        'user': parent.userinfo._id,
        'node': nodeId
    });
}
function addMap(el) {
    if (myComputer == null) {
        parent.setDialogMode(2, "Oops!", 1, null, "You must first set a computer as your own before adding a map."); 
        return;
    }
    var row = el.parentNode.parentNode, 
        destIP = row.querySelectorAll('.destIP')[0],
        port = row.querySelectorAll('.otherInp')[0],
        srcport = row.querySelectorAll('.sourcePortInp')[0],
        proto = row.querySelectorAll('.protoSel')[0],
        nodeId = row.getAttribute('x-data-id');
    if (proto.value == '') {
        parent.setDialogMode(2, "Oops!", 1, null, "Please select a protocol/port to map."); 
        return;
    }
    parent.meshserver.send({
        'action': 'plugin',
        'plugin': 'routeplus',
        'pluginaction': 'addMap',
        'user': parent.userinfo._id,
        'toNode': nodeId,
        'toIP': destIP.value == '' ? null : destIP.value,
        'port': parseInt(port.value),
        'srcport': parseInt(srcport.value),
        'forceSrcPort': srcport.value == '' ? false : true
    });
}

parent.pluginHandler.routeplus.mapUpdate = function(state, msg) {
    loadMappings(msg);
};
if (parent.pluginHandler.routeplus.cantMapStore == null) parent.pluginHandler.routeplus.cantMapStore = [];
parent.pluginHandler.routeplus.cantMapIn = function() {
    updateSelTable();
};
function removeMap(el) {
    var row = el.parentNode.parentNode, 
        nodeId = row.getAttribute('x-data-id');
    if (nodeId != null) {
        parent.meshserver.send({
            'action': 'plugin',
            'plugin': 'routeplus',
            'pluginaction': 'removeMap',
            'id': nodeId,
            'user': parent.userinfo._id
        });
    }
}
function checkRdp(el) {
    var row = el.parentNode.parentNode, 
        mapId = row.getAttribute('x-data-id');
    if (mapId != null) {
        parent.meshserver.send({
            'action': 'plugin',
            'plugin': 'routeplus',
            'pluginaction': 'rdpLinkUpdate',
            'mid': mapId,
            'user': parent.userinfo._id,
            'rdplink': el.checked
        });
    }
}
function loadMappings(msg) {
    mappings = msg.data;
    updateSelTable();
}
function protoChange(el) {
    var row = el.parentNode.parentNode,
        port = row.querySelectorAll('.otherInp')[0];
    if (el.value == 'other') {
        port.disabled = false;
        port.value = '';
    } else {
        port.disabled = true;
        port.value = el.value;
    }
}
function resizeIframe() { 
    document.body.style.height = 100;
    parent.pluginHandler.routeplus.resizeContent();
}
function updateNodesTable() {
  let dRows = document.querySelectorAll('.nodeRow');
  dRows.forEach((r) => {
      r.parentNode.removeChild(r);
  });
  
  var nodeTbl = document.querySelector('#nodeTbl');
  parent.nodes.forEach(function(i) {
      var item = {...i, ...{}};
      if (item.mtype == 2) {
          /*if (item['meshnamel'] == '*') {
              item.meshName = 'Individual Devices';
          } else {
              item.meshName = parent.meshes[item['meshid']].name;
          }*/
          let tpl = `<td><a class="setMine" onclick="setMyComputer(this);">Set</td>
            <td><div class="nIcon j${item.icon}"></div>${item.name}</td>
            <td><select onchange="protoChange(this);" class="protoSel">
                ${protoOpts}
            </select></td>
            <td><input class="destIP" type="text" value="" placeholder="blank for default"></td>
            <td><input class="otherInp" type="text" value="" disabled></td>
            <td><input class="sourcePortInp" type="text" value=""></td>
            <td><a class="addMap" onclick="addMap(this);">Add</td>`;
          let tr = nodeTbl.insertRow(-1);
          tr.innerHTML = tpl;
          tr.setAttribute('x-data-id', item._id);
          tr.classList.add('nodeRow');
      }
  });
  var warnings = nodeTbl.getElementsByClassName("sourcePortInp");
  var spw = Q('sourcePortWarning');
  for (var i = 0; i < warnings.length; i++) {
    warnings[i].addEventListener("focus", function(e) {
        this.parentNode.appendChild( spw );
        spw.style.display = '';
    });
    warnings[i].addEventListener("blur", function(e) {
        spw.style.display = 'none';
    });
  }
  resizeIframe();
}
function updateSelTable() {
  let dRows = document.querySelectorAll('.selRow');
  dRows.forEach((r) => {
      r.parentNode.removeChild(r);
  });
  
  var selTbl = document.querySelector('#nodeSelTbl');
  if (mappings != null && mappings.length) {
      mappings.forEach(function(i) {
          var item = {...i, ...{}};
          if (parent.pluginHandler.routeplus.cantMapStore.indexOf(item._id) >= 0) {
              item.warningHtml1 = '<span title="Port is forced but in use, cannot start!" class="red">';
              item.warningHtml2 = '</span>';
          } else {
              item.warningHtml1 = item.warningHtml2 = '';
          }
          if (item.toIP == null) item.toIPTxt = 'localhost';
          else item.toIPTxt = item.toIP;
          item.protoTxt = protoMap[item.port];
          if (item.protoTxt == 'undefined' || item.protoTxt == null) item.protoTxt = 'Custom';
          item.checkedHtml = item.rdplink === true ? 'checked' : '';
          if (item.protoTxt != 'Custom' && item.protoTxt != 'RDP') item.checkedHtml = 'disabled';
          let tpl = `<td><div class="nIcon j${nodeMap[item.toNode].icon}"></div>${nodeMap[item.toNode].name}</td>
            <td>${item.protoTxt}</td>
            <td>${item.toIPTxt}</td>
            <td>${item.port}</td>
            <td>${item.warningHtml1}${item.localport}${item.warningHtml2}</td>
            <td><input type="checkbox" ${item.checkedHtml} onchange="checkRdp(this);"></td>
            <td><a class="removeMap" onclick="removeMap(this);">Remove</td>`;
          let tr = selTbl.insertRow(-1);
          tr.innerHTML = tpl;
          tr.setAttribute('x-data-id', item._id);
          tr.classList.add('selRow');
      });
    }
}
</script>
</html>